.jumbotron{
	margin-top: 20px;
}

.needSpace {
   margin-bottom: 10px;
}

.toolBarIdentif {
   color: #dcdcdc;
   border: 1px solid #827d6b;
   border-radius: 5px;
   padding: 5px;
   margin-top: 10px;
}

.default-panel {
	border: 1px solid #eee !important;
	border-top: 3px solid #bdb5b5 !important;
}

.control-mg-filter {
  margin-bottom: 25px;
}

.table > tbody > tr > td {
   vertical-align: middle;
}

#loaderDiv {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1100;
   background-color: white;
   opacity: .7;
   color: #000;
   font-size: 22px;
   font-family: 'Josefin Sans', sans-serif;
}

.ajax-loader {
   position: absolute;
   left: 50%;
   top: 50%;
   margin-left: -32px; /* -1 * image width / 2 */
   margin-top: -32px; /* -1 * image height / 2 */
   display: block;
}