body {
  /*background: url('../img/bg-resposive.jpg') no-repeat fixed center center !important;    
  background-size: cover !important;*/
  height: 100%;
  /*background-repeat: no-repeat;
  background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
  font-family: Montserrat !important;
}
#inputEmail {
  margin-bottom: 2px !important;
  padding-left: 45px;
}
#inputPassword {
  padding-left: 45px !important;
}

#baterPonto {
  margin: 0px;
  margin-top: 5px;
}

.form-signin {
  max-width: 450px !important;
  padding: 0px !important;
}

.container {
  max-width: 600px !important;
}

.jumbotron {
  background-color: #fff !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  text-align: left !important; 
  border-top: 5px solid #134f74 !important;   
}

.jumbotron p {
  text-align: left !important;
  font-size: 14px !important; 
  padding-left: 2px !important;
  margin-bottom: 15px !important;
}

.text-muted {
  color: #fff !important;
}

.form-signin input#inputEmail {
  background: #fff url('../img/login-blue-icon.png') 15px top no-repeat;
  background-size: 16px 80px;
}

.form-signin input#inputEmail:focus {
    background: #fff url('../img/login-blue-icon.png') 15px bottom no-repeat;
    background-size: 16px 80px;
}

.form-signin input#inputPassword {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 15px top no-repeat;
    background-size: 16px 80px;
}

.form-signin input#inputPassword:focus {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 15px bottom no-repeat;
    background-size: 16px 80px;
}

.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.login-container {
  text-align: center;
}

.fix-space-top {
  margin-top: 15px;
}

.fix-space-bottom {
  margin-bottom: 15px;
}

.navbar-text {
  margin-left: 15px;
}
