<link href="css/indicadores.css" rel="stylesheet">
<h1 class="page-header">Indicadores</h1>

<div class="row">
	<div class="col-md-12">
		<div ng-show="successMsg" class="alert alert-success alert-dismissible" role="alert">
	      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	      <strong>Feito!</strong> {{successMsg}}
	    </div>

	    <div ng-show="errorMsg" class="alert alert-danger alert-dismissible" role="alert">
	      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	      <strong>Ops!</strong> {{errorMsg}}
	    </div>
	</div>
</div>

<div clas="container">
	<div class="row" ng-if="liberado">
		<div class="col-xs-12 col-md-12">
			<div class="dadosIdent"> <strong>Gestor(a)</strong>: {{gestor.nome}} {{gestor.sobrenome}} </div>
			<div class="dadosIdent">
				<p ng-if="!equipes"><strong>Sem equipes para gerir!</strong></p> 
				<label class="control-label" for="Equipes"><strong>Equipes Geridas:</strong></label>
      			<div class="btn-group btn-group" role="group" aria-label="Equipes" ng-repeat="equipe in equipes">
        			<button type="button" class="btn btn-default btn-sm" ng-class="{'btn-primary': equipe.selecionada}" ng-click="checkUncheckEquipe(equipe)">
          			{{::equipe.nome}}
        			</button>
      			</div> 
      		</div>
		</div>
	</div>

	<div class="row needSpace" ng-if="liberado && equipes">

		<div class="col-xs-12 col-lg-12">
			<div class="dadosIdent dateDestak needSpace"> 
      			<button type="button" class="btn btn-sm btn-default" ng-click="subtractOneDay()">
	                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	            </button>
      			{{currentDateFtd}} 
      			<button type="button" class="btn btn-sm btn-default" ng-click="addOneDay()">
	                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	            </button>
  			</div>
			<div class="table-responsive">
				<div class="well well-sm pre-scrollable">
				  <table role="grid" class="table table-striped table-hover lastVertical">
				    <thead>
				      <tr>
				        <th></th>
				        <th></th>
				        <th></th>
				        <th colspan="4" class="centerColSpan">Marcações</th>
				        <th></th>
				      </tr>
				      <tr>
				        <th class="col-xs-1 first">Status</th>
				        <th class="col-xs-1 first">Nome</th>
				        <th class="col-xs-1 first">Cargo</th>
				        <th class="col-xs-1 centerColSpan first">E1</th>
				        <th class="col-xs-1 centerColSpan first">S1</th>
				        <th class="col-xs-1 centerColSpan first">E2</th>
				        <th class="col-xs-1 centerColSpan first">S2</th>
				        <th class="col-xs-1 centerColSpan first">Banco Hrs.</th>
				        <th class="col-xs-1 centerColSpan first">Escala</th>
				        <th class="col-xs-1 centerColSpan first">Horário</th>
				        <th class="col-xs-2 centerColSpan first last">Observações</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr ng-repeat="funcionario in equipe.componentes" ng-click="setSelected(funcionario)">
				        <td><img class="img-responsive" src="{{funcionario.apontamentoDiario.statusImgUrl}}" alt="{{funcionario.apontamentoDiario.statusString}}" title="{{funcionario.apontamentoDiario.statusString}}"></td>
				        <td>{{funcionario.nome}}</td>
				        <td>{{funcionario.sexoMasculino ? funcionario.alocacao.cargo.especificacao : funcionario.alocacao.cargo.nomeFeminino}}
				        </td>
				        <td class="centerColSpan marcacoesDestak">{{funcionario.apontamentoDiario.marcacoesStringObj.ent1}}</td>
				        <td class="centerColSpan marcacoesDestak">{{funcionario.apontamentoDiario.marcacoesStringObj.sai1}}</td>
				        <td class="centerColSpan marcacoesDestak">{{funcionario.apontamentoDiario.marcacoesStringObj.ent2}}</td>
				        <td class="centerColSpan marcacoesDestak">{{funcionario.apontamentoDiario.marcacoesStringObj.sai2}}</td>
				        <td class="centerColSpan marcacoesDestak" ng-class="{'bh-positivo': funcionario.apontamentoDiario.objBHDiario.horasPosit, 'bh-negativo': funcionario.apontamentoDiario.objBHDiario.horasNegat}">{{funcionario.apontamentoDiario.objBHDiario.horasFtd}}</td>
				        <td class="centerColSpan">{{funcionario.alocacao.turno.escala.nome}}</td>
				        <td class="centerColSpan">{{funcionario.alocacao.turno.escala.codigo == 1?  funcionario.alocacao.turno.jornada.array[currentDate.getDay()].horarioFtd : funcionario.alocacao.turno.jornada.array[0].horarioFtd}}</td>
				        <td class="centerColSpan last"> 
				          {{funcionario.apontamento.observacoes}}
				        </td>
				      </tr>
				    </tbody>
				  </table>
				</div>
			</div>
		</div>
	</div>

	<div class="row needSpace" ng-if="liberado && equipes">
		<div class="col-xs-12 col-lg-6">
			<div class="row">
				<div class="col-xs-12">
					<p class="titleGraph titleGraphSmall">Banco de Horas</p>
					<div class="dadosIdent dateDestak"> 
		      			<button type="button" class="btn btn-sm btn-default" ng-click="subtractOneWeek()">
			                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			            </button>
		      			{{currentWeekFtd.begin}} a {{currentWeekFtd.end}} 
		      			<button type="button" class="btn btn-sm btn-default" ng-click="addOneWeek()">
			                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			            </button>
		  			</div>
				</div>
			</div>
			<div class="row col-xs-12">
				<div class="well well-sm graphBGColor">
					<canvas class="chart chart-bar" chart-data="weekData" chart-labels="weekLabels" chart-series="weekSeries" chart-options="weekOptions" chart-click="onClick" chart-hover="onHover"></canvas> 
				</div>
			</div>
	    </div>
	    <div class="col-xs-12 col-lg-6">
	    	<div class="row">
				<div class="col-xs-12">
					<p class="titleGraph titleGraphSmall">Absenteísmo</p>
					<div class="dadosIdent dateDestak"> 
		      			<button type="button" class="btn btn-sm btn-default" ng-click="subtractOneWeek()">
			                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			            </button>
		      			{{currentWeekFtd.begin}} a {{currentWeekFtd.end}} 
		      			<button type="button" class="btn btn-sm btn-default" ng-click="addOneWeek()">
			                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			            </button>
		  			</div>
				</div>
			</div>
			<div class="row col-xs-12">
				<div class="well well-sm graphBGColor">
					<canvas class="chart chart-line" chart-data="data1" chart-labels="labels" chart-series="series" chart-options="options" chart-click="onClick" chart-hover="onHover"></canvas> 
				</div>
			</div>
	    </div>

	</div>

	<!--
	<div class="row" ng-if="liberado">
		<div class="col-xs-12 col-md-12 col-lg-6">
			<canvas class="chart chart-line" chart-data="data1" chart-labels="labels" chart-series="series" chart-options="options" chart-click="onClick"></canvas> 
		</div>

		<div class="col-xs-12 col-md-12 col-lg-6">
			<canvas class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-click="onClick"></canvas> 
	    </div>
	</div>
	-->

	<div class="row" ng-if="!liberado">
		<p>Dados não disponíveis!</p>
	</div>
</div>