<link href="css/registrarPonto.css" rel="stylesheet">

<h3 class="page-header">Registro de Ponto</h3>

<div class="row" id="popupContainer">
	<div class="col-xs-12 col-md-2"></div>
	<div class="col-xs-12 col-md-8 col-lg-8">
		<div class="well">
			
			<div class="row" ng-if="!funcionario">
				<p> O usuário <strong>{{usuario.email}}</strong> não possui um funcionário associado para o registro do ponto. </p>
			</div>

			<div class="row" ng-if="funcionario">	
				<div class="col-md-12">
					<div ng-show="successMsg" class="alert alert-success alert-dismissible" role="alert">
				      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				      <strong>Feito!</strong> {{successMsg}}
				    </div>

				    <div ng-show="errorMsg" class="alert alert-danger alert-dismissible" role="alert">
				      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				      <strong>Ops!</strong> {{errorMsg}}
				    </div>
				</div>
			</div>
			<div class="row" ng-if="funcionario">
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-3">
							<img src="../img/user-basic1.png" class="img-circle img-reg-user">
						</div>
						<div class="col-md-9">
							<p>	
								{{funcionario.nome}} {{funcionario.sobrenome}}				
							</p>
							<p class="muted"> {{funcionario.email}} </p>
						</div>
					</div>
				</div>		

				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12">
							<time datetime="{{currentDateFtd}}" class="date-as-calendar position-em size1_25x">
								<span class="weekday">{{currentDate | date: 'EEE'}}</span>
								<span class="day">{{currentDate | date: 'd'}}</span>
								<span class="month">{{currentDate | date: 'LLLL'}}</span>
								<span class="year">{{currentDate | date: 'yyyy'}}</span>
							</time>
							<table class="tabBlock" cellspacing="0" cellpadding="0" border="0">
					            <tr>

					            	<td class="clock" id="dc">{{clock | date: 'HH:mm'}}</td>  <!-- THE DIGITAL CLOCK. -->
					                <td>
					                    <table cellpadding="0" cellspacing="0" border="0">		                   		                      
					                        <!-- SHOWING SECONDS. -->
					                        <tr><td class="clocklg" id="dc_second">{{clock | date: 'ss'}}</td></tr>
					                    </table>
					                </td>
					            </tr>
					        </table>
						</div>
					</div>
				</div>			
			</div>
			<div class="row" ng-if="funcionario">	
				<h3 class="page-header"></h3>
			</div>
			<div class="row" ng-if="funcionario" align="center" >
				 <md-button class="md-primary md-lg md-raised" ng-click="registro($event)"   >
			      Registrar!
			    </md-button>
			<div class="row" ng-if="funcionario">	
		</div>
	</div>
	<div class="col-xs-12 col-md-2"></div>
</div>
