<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Acompanhamento <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Solicitações</a></li>
        <li><a href="#">Folgas/Férias</a></li>
        <li><a href="#">Montar Escalas</a></li>
        <li><a href="#">Montar Equipes</a></li>
        <li><a href="#">Meu Ponto</a></li>
        <li><a href="#/instituicoes">Instituições</a></li>
        <li><a href="#/campi">Campi</a></li>
        <li><a href="#/setores">Setores</a></li>
        <li><a href="#/equipes">Equipes</a></li>
        <li><a href="#/funcionarios">Funcionários</a></li>
      </ul>
    </div>
  </div>
</div>