<!DOCTYPE html>
<html>
<head>
	<base href="/"></base>
	<title>RHPontum System</title>
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="css/ie10-viewport-bug-workaround.css">

</head>
<body ng-app="rhPontumApp" ng-controller="applicationCtrl">
	
	<div ng-include="" src="'/view/layout/home.html'" ng-if="logged && authorized"></div>
	<div ng-include="" src="'/view/layout/index.html'" ng-if="!logged || !authorized"></div>	

	<!-- Carregando os scripts depois para uma melhor "performance" no loading -->
	<script src="bower_components/jquery/dist/jquery.js"></script><!-- load jquery -->
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-messages/angular-messages.js"></script>
	<script src="bower_components/ngstorage/ngStorage.js"></script>
	<script src="bower_components/angular-jwt/dist/angular-jwt.js"></script>

	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>

	<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="bower_components/angular-ui-mask/dist/mask.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.js"></script>
	<script src="https://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>
	<!--<script src="bower_components/chart.js/Chart.js"></script>-->
	<!--<script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>-->
	
	<script src="lib/bootstrap-workarounds/ie-emulation-modes-warning.js"></script>
	<script src="lib/bootstrap-workarounds/ie10-viewport-bug-workaround.js"></script>
	<script src='js/app.js'></script>
	<script src='js/locale/angular-locale_pt-br.js'></script>
  	<script src='js/config/routes.js'></script>
	<script src='js/controllers/services/usuarioAPIService.js'></script>
    <script src="js/controllers/services/funcionariosAPIService.js"></script>
    <script src="js/controllers/services/setoresAPIService.js"></script>
    <script src="js/controllers/services/equipesAPIService.js"></script>
    <script src="js/controllers/services/homeAPIService.js"></script>
    <script src="js/controllers/services/instituicoesAPIService.js"></script>
    <script src="js/controllers/services/campiAPIService.js"></script>
    <script src="js/controllers/services/apontamentosAPIService.js"></script>
    <script src="js/controllers/services/feriadosAPIService.js"></script>
    <script src="js/controllers/services/turnosAPIService.js"></script>
    <script src="js/controllers/services/escalasAPIService.js"></script>
    <script src="js/controllers/services/cargosAPIService.js"></script>
	<script src='js/controllers/applicationCtrl.js'></script>
	<script src='js/controllers/loginCtrl.js'></script>
	<script src='js/controllers/homeCtrl.js'></script>
	<script src='js/controllers/dashboardCtrl.js'></script>
	<script src='js/controllers/setorCtrl.js'></script>
	<script src="js/controllers/funcionarioCtrl.js"></script>
	<script src="js/controllers/instituicaoCtrl.js"></script>
	<script src="js/controllers/campiCtrl.js"></script>
	<script src="js/controllers/equipeCtrl.js"></script>
	<script src="js/controllers/novaEquipeCtrl.js"></script>
	<script src="js/controllers/editEquipeCtrl.js"></script>
	<script src="js/controllers/regPontoCtrl.js"></script>
	<script src="js/controllers/editFuncionarioCtrl.js"></script>
	<script src="js/controllers/novoFuncionarioCtrl.js"></script>
	<script src="js/controllers/associarFuncionarioCtrl.js"></script>
	<script src="js/controllers/feriadoCtrl.js"></script>
	<script src="js/controllers/novoFeriadoCtrl.js"></script>
	<script src="js/controllers/editFeriadoCtrl.js"></script>
	<script src="js/controllers/turnoCtrl.js"></script>
	<script src="js/controllers/novoTurnoCtrl.js"></script>
	<script src="js/controllers/editTurnoCtrl.js"></script>
	<script src="js/controllers/cargoCtrl.js"></script>
	<script src="js/controllers/novoCargoCtrl.js"></script>
	<script src="js/controllers/editCargoCtrl.js"></script>
	<script src="js/controllers/indicadoresCtrl.js"></script>
	<script src="js/controllers/accCtrl.js"></script>
	<script src="js/controllers/AccordionDemoCtrl.js"></script>
	<script src="js/services/Auth.js"></script>
	<script src='js/directives/uiDateDirective.js'></script>
	<script src='js/filters/zeroPadFilter.js'></script>
	<script src="js/values/configValue.js"></script>
	<script src="js/interceptors/timestampInterceptor.js"></script>
	<script src="js/interceptors/errorInterceptor.js"></script>
	<script src="js/interceptors/sessionInjectorInterceptor.js"></script>
	<script src='js/config/interceptorsConfig.js'></script>
</body>
</html>